# Track your business KPIs with your webserver's log data

## Why this data is interesting

Ever wondered how Google Analytics works? It logs events - visits, clicks, sigunps, etc... and then aggregates them together and plots them.

When companies grow (or when they have complicated reporting requirements) they often out-grow solutions like Google Analytics and end up having to roll their own solutions.

If you work as a data analyst in a big tech company chances are you'll spend a lot of time writing queries that grab events from a database... group them into bins (maybe by month or something) and then plot them.

If you're interested in learning more about what enterprises are using these days I recommend checking out [Looker](https://looker.com/)

This is a bit of log data from a poetry community app that I run.

Try grouping events over time and plotting them.


## Ideas for questions this data can help you answer

* How many poems are being created per day?
* How many poems are being deleted per day?
* How are the stats trending over time?
* Am I making any money (answer: no).

## Where you can go to get this kind of data

If you have a webapp you're already generating this kind of data... it's all in your log files. 

Download a log file and go through it line by line. Simplify different kinds of requests down and give them names:
signup, purchase, etc...

Load those events into a database and you've got a dataset like this one.


## This is a sample of some data

In [4]:
import pandas as pd
df = pd.read_csv('../datasets/web-log-dataset-2019-01.csv')
df.head()

,event_id,type,actor_id,target_id,target_type,data,created_at,updated_at
0,4786820,ViewFriendList,15233,NaN,NaN,{},2019-01-01 00:01:25.646746,2019-01-01 00:01:25.646746
1,4786821,ViewFriendList,33157,NaN,NaN,{},2019-01-01 00:01:26.023537,2019-01-01 00:01:26.023537
2,4786827,ViewFriendList,50119,NaN,NaN,{},2019-01-01 00:03:49.552161,2019-01-01 00:03:49.552161
3,4786834,PoemViewed,48778,373830.0,Poem,{},2019-01-01 00:06:43.088078,2019-01-01 00:06:43.088078
4,4786838,ViewFriendList,50593,NaN,NaN,{},2019-01-01 00:09:15.292722,2019-01-01 00:09:15.292722